body{
    background: url(images/earth.jpg) fixed;
}

@font-face {
	src: url(font/BauhausRegular.ttf);
	font-family: flex;
}

h1 {
    text-align: center;
    color: white;
    font-family: flex;
}

h2 {
    text-align: center;
    color: white;
    font-family: flex;
}

.pesquisa {
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    width: 20em;
    margin: auto;
    margin-top: -1em;
    
    align-content: center;
}

#paises {
    width: 100%;
    font-size: 20px;
    font-family: flex;
}

.resultado {
    margin-top: 2em;
    visibility: hidden;

    display: flex;
	flex-direction: row;
    justify-content: space-evenly;
}

.bandeira {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tituloBandeira {
    color: white;
    font-size: 32px;
    font-family: flex;
}

.informacoes {
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
    padding-left: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informacao{
    font-size: 32px;
    font-family: flex;
}